<h1 class="titre"> This is an integration test for 360 view with webxr</h1>

<!--<h2 class="titre">with controllers</h2>
<div class="test">
    <ngx-view360 imageSrc="assets/eiffel.jpg" displayMode="mono"
        rightController="assets/media/gltf/controller/controller.gltf"
        leftController="assets/media/gltf/controller/controller-left.gltf"></ngx-view360>
</div>-->

<h2 class="titre"> without controllers</h2>
<div class="test">
    <ngx-view360 imageSrc="assets/eiffel.jpg" displayMode="mono"></ngx-view360>
</div>